<header id="home" class="{{ page.slug }}">
  {#
  {%  block navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}
  #}
  <section class="header" >
    <div class="container">
      <!-- <div class="row">

      </div> -->
      <div class="row ">
        <!-- <div class="navicon">
          <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
        </div> -->
        <div class="col-md-8 col-md-offset-2 text-center ">
          <!-- <img class="sm8-logo-small" src="{{ theme_url }}/img/{{ site.header.logo }}"/> -->
          <a href="/"  ><h1 class="">{{ site.header.title }}</h1></a>

{{ dump(site) }}
        </div>
      </div>

    </div>
  </section>
</header>
