<header id="home" class="{{ page.slug }}">
  {% block navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right navicon">
          <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <img class="animated fadeInDown sm8-logo" src="{{ theme_url }}/img/{{ site.header.logo }}"/>
          <h1 class="animated fadeInDown">{{ site.header.title }}</h1>
          <p class="animated fadeInUp delay-05s">{{ site.header.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          {% for button in site.header.buttons %}
          <a href="{{ button.link }}" class="{{ button.class }}">{{ button.text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</header>
