<header id="home" class="{{ page.slug }}">
  {% block navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}

  <div class="dw-navicon">
    <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
  </div>

  <section class="hero align_middle_parent" id="hero">



    <div class="container align_middle">

        <div class=" text-center ">
          <img class="animated fadeInDown sm8-logo" src="{{ theme_url }}/img/{{ site.header.logo }}"/>
          <h1 class="hero_title animated fadeInDown">{{ site.header.title }}</h1>
          <p class="animated fadeInUp delay-05s">{{ site.header.description }}</p>
        </div>

    </div>
  </section>
</header>
