<section class="intro text-center section-padding" id="introduction">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        {{ page.content }}
        {% if header.link %}
      </br>

      <a href="{{ header.link }}" class="btn btn-default">{{ header.button }}</a>
    {% endif %}
      </div>
    </div>
  </div>
</section>
