<section class="portfolio text-center section-padding" id="portfolio">
  <div class="container">
    <div class="row">
      {{ page.content }}
      <div id="portfolioSlider">
        <ul class="slides">
          {% for row in page.header.portfolio|batch(2) %}
          <li>
            {% for item in row %}
            <div class="col-md-6 wp4 {% if item.delay %}delay-{{ item.delay }}s{% endif %}">
              <div class="overlay-effect effects clearfix">
                <div class="img " >

                    <video class="feature_video" loop preload="none" poster="{{ page.media[item.img].url }}">
                      <source src="{{ page.media[item.mp4].url }}" type="video/mp4">
                      <source src="{{ page.media[item.webm].url }}" type="video/webm">
                      <
                    </video>

                  <div class="overlay ">
                     <i class="fa fa-play vcenter"></i>



                  </div>
                </div>
              </div>





              <h2>{{ item.title }}</h2>
              <p>{{ item.content }}</p>

            </div>
            {% endfor %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
