{% extends 'partials/base.html.twig' %}
{% block content %}
<section class="section-padding" id="page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1 class="arrow">{{ page.header.title }}</h1>
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
